body {
    font-family: 'Inter', sans-serif;
    margin: 0px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #125975;
}

header h1 {
    margin-right: 20%;
    color: white;
}

header nav ul {
    display: flex;
    list-style: none;
    padding: 0px 1rem;
}

header nav ul li a {
    text-align: center;
    color: white;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    padding: 1rem 0.9rem;
    font-size: 1.5rem;
}

header nav ul li a:hover {
    background-color: rgb(205, 237, 255);
    transition: background-color 0.5s ease;
}

.carrito li a {
    color: white;
    font-size: 1.5rem;
    font-family: 'Inter', sans-serif;
    padding: 1rem;
    text-decoration: none;
}

.carrito li {
    list-style: none;
}

.catalogoInvierno {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.invierno {
    padding: 20px;
    text-align: center;
    background-color: #B4DCE6;
}

.invierno h2 {
    margin: 0;
    font-size: 250%;
}

.invierno p {
    font-size: 150%;
}

.inviernoIMG {
    margin: 20px 20px 40px 20px;
}

.inviernoIMG img {
    width: 100%;
    height: 100%;
}

.inviernoIMG p {
    margin: 3px;
}

.catalogoInvierno {
    display: flex;
    flex-direction: row;
}

.tituloProducto {
    border-top: 1px solid rgba(0, 0, 0, 0.39);
    margin-top: 20px;
    color: black;
    font-weight: bold;
    font-size: 15px;
}

@keyframes slidy {
    0% {
        left: 0%;
    }
    20% {
        left: 0%;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95% {
        left: -300%;
    }
    100% {
        left: -400%;
    }
}

div#slider {
    overflow: hidden;
}

div#slider figure img {
    width: 20%;
    float: left;
}

div#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 30s slidy infinite;
}