header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #125975;
}

header h1 {
    margin-right: 40%;
    color: white;
}

header nav ul {
    display: flex;
    list-style: none;
    padding: 0px 1rem;
}

header nav ul li a {
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 1rem 0.9rem;
    font-size: 1.5rem;
}

header nav ul li a:hover {
    background-color: blanchedalmond;
    transition: background-color 0.5s ease;
}

.carrito li a {
    color: white;
    text-decoration: none;
}